{
  "root": true,
  "env": {
    "node": true,
    "es2021": true,
    "jest": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "sourceType": "module",
  },
  "ignorePatterns": ["dump", "dist", "cdn", "videos", "db", "db-data"],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
  ],
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "simple-import-sort",
    "import",
    "prettier",
  ],
  "rules": {
    "no-promise-executor-return": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto", "semi": false }],
    "@typescript-eslint/no-loop-func": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      { "prefer": "type-imports" },
    ],
    "newline-before-return": "error",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "prefer-destructuring": ["error", { "array": true, "object": true }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "export" },
      { "blankLine": "always", "prev": "export", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "always", "prev": "if", "next": "*" },
    ],
    "eslint-plugin-import/prefer-default-export": "off",
    // "simple-import-sort/imports": [
    //   "error",
    //   {
    //     "groups": [
    //       ["^\\u0000"],
    //       ["^@"],
    //       ["^\\w"],
    //       ["^[^.]", "^\\.(?!\\.)"],
    //       ["^src/.*"],
    //       ["\\.entity"],
    //       ["/controllers"],
    //       ["/services"],
    //       ["\\/utils/"],
    //       ["\\.enum"],
    //       ["\\/types/"],
    //       ["/dtos-request"],
    //       ["/dtos-response"],
    //       ["^\\.", "^\\.(?!\\.)"],
    //     ],
    //   },
    // ],
  },
  "overrides": [
    {
      "files": ["src/**/*.entity.ts"],
      "rules": {
        "import/no-cycle": "off",
      },
    },
  ],
}
